legacy-peer-deps = false
strict-peer-dependencies = true

audit-level = high
audit = true
no-fund = true

package-lock = true
package-lock-only = false
shrinkwrap = true
shrinkwrap-includes = dependencies,peerDependencies
package-lock-includes = dependencies,devDependencies,optionalDependencies,peerDependencies
package-lock-version = 2

prefer-dedupe = true
prefer-offline = true
save-exact = true
shamefully-hoist = true

cache = true
cache-lock = true
cache-lock-retries = 10
cache-lock-stale = 60000
cache-lock-wait = 10000
cache-dir = ~/.cache/npm

fetch-retries = 5
fetch-retry-factor = 10
fetch-retry-mintimeout = 20000
fetch-retry-maxtimeout = 120000

registry = https://registry.npmjs.org/
strict-ssl = true
user-agent = npm/9.6.7 node/v20.10.0 darwin x64
update-notifier = true
progress = true
loglevel = info
save-prefix =